  @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,900;1,900&family=Kanit:ital,wght@0,100;1,100&family=Merriweather:ital,wght@1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Common CSS */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
img{
    width: 100%;
}
a, ul, li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: black;
}
.pry-color{
    background-color: #FF900E;
}

/* Header Styles */

.header{
   background-color: #ff900e1a;
   width: 100%;
   padding: 20px 0px;

   
}
.nav-bar{
    width: 80%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 0 auto;
    border: 1px solid lightcoral;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
    font-family: 'Work Sans';
}
.header .nav-bar .nav-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    font-size: 1.3rem;
}
.nav-item li{
    color: #1E1E1E;
}

.header-description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.header-description .head-title{
    text-align: center;
    font-size: 3rem;

}
.title-description{
    color: #727272;
    padding-top: 20px;
    text-align: center;
    line-height: 25px;
    
}
.button{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    border-radius: 5px;
    
}
.pry-button{
    padding: 15px 20px;
    color: #ffff;
    border-radius: 10px;
    border-style: none;
    
}
.pry-button a{
    color: #ffff;
    font-size: 1.5rem;
    font-weight: 500;
    
}
.banner-img{
    width: 80%;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 30px;
}
.banner-img img{
    border-radius: 20px;
}
/* Header section Mobile Responsive Styles */

@media screen and (max-width: 576px){
    .header{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nav-bar{
        width: 100%;
        margin: 0px;
        padding: 0px;
        flex-direction: column;
    }
    .header .nav-bar .nav-item{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
        gap: 10px;
        font-weight: 600;
        
        
    }
    .header-description{
        width: 80%;
        padding: 0px;
        margin-top: 25px;
    }
}

/* future box1 styles */
.future-box1{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    margin-top: 40px;
   
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 15px;
}
.team-img img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.future-box-description h2{
    color: #131313;
    font-size: 2rem;
}
.future-box-description h2 span{
    color: #727272;
}
.future-box-description h2 .pry-text{
    color: #FF900E;
    
}
.future-box-description p{
    font-size: 0.8rem;
    padding-top: 10px;
}
.future-box-description .pry-button{
    margin-top: 20px;
}
/* future box1 mobile responsive styles */

@media screen and (max-width: 576px){
    .future-box1{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
    }
}